.env/*
env/*
__pycache__/*
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.DS_Store
.vscode/*
.idea/*
node_modules/*
dist/*
build/*
*.log
coverage/*
.cache/*
.pytest_cache/*
.ipynb_checkpoints/*
*.egg-info/*
*.sqlite
*.db-journal
celerybeat-schedule
instance/*
*.pot
*.mo
*.cover
htmlcov/*
.coverage
.tox/*
.cache/