version: "3.9"

services:
  redis:
    image: redis:7.2-alpine
    container_name: redis-chat
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis-data:/data

volumes:
  redis-data:
    name: redis-chat-data
